<h1>Edit Comment</h1>

<%= form_with model: [ @article, @comment ], local: true, class: "comment-form" do |form| %>
  <div class="form-group">
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :status, class: "form-label" %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: @comment.status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Update Comment", class: "btn btn-primary" %>
  </div>
<% end %>
