<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <style>
    .logout-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  .logout-button:hover {
    background-color: #c82333;
  }
    </style>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if cookies[:auth_token] %>
  <%= button_to 'Log Out', logout_path, method: :post, class: 'logout-button' %>
  <% end%>

    <%= yield %>
  </body
</html>
